@charset "utf-8";
/* CSS Document */

.tong {width: 100%;
	height: 5;
	background-color: cornsilk}

.header{width: 100%;
	height: 40px;
	margin: 0 auto;
	text-align: center;
	background-color: #fed100}
.icon{width: 20px;height: 20px;border-radius: 20px;
	float: left;
	padding: 5px;
	text-align: center;
	position: absolute;
	margin: 5px 60px;background-color: black}

.icon a{line-height: 20px}

.menu1{width: 40px;height: 10px;
	margin: 15px;
	position: relative;
	float: right;
	left: -150px;background-color: white}
.menu2{width: 30px;height: 10px;
	margin: 15px;
	position: relative;
	float: right;
	left: 175px;background-color: cornflowerblue}
.icon a{text-decoration: none;color: honeydew}

.area{width: 100%;height: 800px;background-color: aliceblue}

.khung1{width: 100%;height: 150px;background-color: aliceblue}

.khung2{width: 100%;height: 20px;background-color: aliceblue;margin-top: 10px}

.noidung1{width: 250px;height: 20px;
		position: absolute;
		margin: 130px 630px;
		text-align: center;
		background-color: black;}
.noidung1 a {text-decoration: none; color: #fed100}
.noidung2{width: 200px;height: 20px;
		text-align: center;
		position: absolute;
		margin: 0px 655px;
		background-color: black;}
.noidung2 a{text-decoration: none; color: #fed100}

.khung3{width: 100%;height: 150px;background-color: aliceblue;
	text-align: center}

.khung3 ul {box-sizing: content-box;
		position: absolute;
		margin-left: 410px
		;margin-top: 20px
		;color: gray}
.khung3 ul a{text-decoration: none;color: deepskyblue}


.khung4{width: 50%;height: 60px;
		float: left;background-color: aliceblue}

.khung5{width: 50%;height: 60px;
		;float: right;background-color: aliceblue}


.box1{width: 150px;height: 40px
	;background-color: dodgerblue
	;float: right;
	text-align: center;
	margin-right: 20px;
	border-radius: 35px}
.box1 a{text-decoration: none;color: white}
.box1 a:hover{color: darkorange}

.box2{width: 150px;height: 40px
	;background-color: darkorange
	;float: left;
	text-align: center;
	margin-left: 20px;
	border-radius: 35px}
.box2 a {text-decoration: none;color: white;line-height: 40px}
.box2 a:hover{color: dodgerblue}

.khung6{width: 100%;height: 470px;
		text-align: center;background-color: white}

.Ben{width: 100%;height: 500px;
	padding: 0px 150px;box-sizing: border-box
	;background-color: aliceblue}

.khung7{width: 50%;height: 500px;
	background-color: aquamarine;
	float: left}

.khung8{width: 50%;height: 500px;
	background-color: blueviolet;
	float: right}

.khunga{height: 200px;text-align: center;
	margin: 20px;
	background-color: aliceblue}

.khungtron1{width: 100px;height: 100px;
	background-color: black;
	margin: 50px 50px;position: absolute;
		border-radius: 50px;}

.text1{width: 60%;height: 100px;background-color: aqua
	;float: right;margin: 50px 50px;text-align: start;box-sizing: border-box;padding-top: 10px}


.khungtron2{width: 100px;height: 100px;
	background-color: black;margin: 50px 50px;position: absolute;
		border-radius: 50px;}

.text2{width: 60%;height: 100px;background-color: aqua
	;float: right;margin: 50px 50px;text-align: start;box-sizing: border-box;padding-top: 10px}

.khungtron3{width: 100px;height: 100px;
	background-color: black;
		border-radius: 50px;}

.text3{width: 60%;height: 100px;background-color: aqua
	;float: right;margin: 50px 50px;text-align: start;box-sizing: border-box;padding-top: 10px}

.khungtron4{width: 100px;height: 100px;
	background-color: black;
		border-radius: 50px;}

.text4{width: 60%;height: 100px;background-color: aqua
	;float: right;margin: 50px 50px;text-align: start;box-sizing: border-box;padding-top: 10px}

.exam{width: 100%;
	height: 800px;
	background-color: aliceblue}

.khungE1{width: 50%;height: 800px;
		background-color: crimson;
		float: left}

.khungE2{width: 50%;height: 800px;
		background-color: aliceblue;
		float: right}

.muiten1{width:  20%;height: 800px;background-color: aliceblue
		;float: left}

.mt1{width: 30px;height: 100px;background-color: #FED100;
	float: right;margin: 400px 0px}

.muiten2{width:  20%;height: 800px;background-color: aliceblue
		;float: right}

.mt2{width: 30px;height: 100px;background-color: #FED100;
	float: left;margin: 400px 0px}

.hinh1{width: 80%;height: 800px;background-color: blueviolet
		;float: right;}

.khunghinh1{width: 80%;height: 600px;background-color: aqua;
			margin: 100px 60px}

.texth1{width: 100%;height: 40%;background-color: coral}
.T1{width: 100%;height: 60%;background-color: aqua
	;margin: 30px}

.ht1{width: 100%;height: 60%;background-color: antiquewhite}

.hinh2{width: 80%;height: 800px;background-color: aquamarine
		;float: left}

.khunghinh2{width: 80%;height: 600px;background-color: aqua;
			margin: 100px 60px}

.texth2{width: 100%;height: 40%;background-color: coral}
.ht2{width: 100%;height: 60%;background-color: antiquewhite}

.Fea{width: 100%;height: 500px;text-align: center;
	padding: 30px;box-sizing: border-box;background-color: darkblue}

.khungF{width: 200px;height: 100%;background-color: brown;text-align: center
	;float: left;margin-left: 50px;position: relative;left: 200px}

.hinhKF{width: 100px;height: 100px;background-color: black;
		border-radius: 50px;display: inline-block;margin: 30% 0%}

.textKF{width: 200px; height: 100px;background-color: aqua}

.boxKF{width: 100px;height: 30px;
		background-color: #EBBD52;
		display: inline-block;
		border-radius: 20px
		;margin: 20%}

.Sig{width: 100%;height: 400px;background-color: cadetblue}
.khungS1{width: 100%;height: 30%;background-color: coral;text-align: center}
.khungS2{width: 100%;height: 35%;background-color: aliceblue;text-align: center;padding: 30px;box-sizing: border-box}

.khungS3{width: 100%;height: 35%;background-color: pink;text-align: center}
.textS1{width: 200px;height: 20px;background-color: aqua;display: inline-block;margin: 100px}
.BoxS3{width: 100px;height: 30px;background-color: chartreuse;display: inline-block;border-radius: 30px
		;margin: 30px}

.Footer{width: 100%;height: 200px;background-color: darkgray;text-align: center}
.khungFT{width: 100%;height: 40%;background-color: deeppink;text-align: center}

.khungchung{width: 400px;height: 30px;background-color: aliceblue;display: inline-block;text-align: center;
			position: relative;margin-top: 30px}

.BoxFT{width: 50px;height: 10px;background-color: blanchedalmond;
		float: left;position: relative;margin: 10px 15px 10px 15px;left: 10px;padding-left: 15px }
.BoxFT2{width: 70px;height: 18px;background-color: aqua;display: inline-block;float: right;margin: 5px 25px 5px 0px}

.khungFT2{width: 100%;height: 60%;background-color: darkgrey;}

.khungFT2 a{text-decoration: none;color: navy}







